$blanco:white;

.header__img{
	width:30px;
}

#fondo {
	background-image: url(../assets/rx570.jfif);

}
.title1 {
	color:white;
	text-aling: center;
	background-color:grey;
	margin: 50px 50px 50px 50px;
	padding: 20px 5px 20px 5px;
	
}

p {
	color:white;
}

h1 {
	color:white;
	border-radius: 5px;
	animation-duration: 4s;
	animation-name:AMD;
	}
@keyframes AMD {
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}	

h2 {color:white;
	
}

$estilos: (
color: red,
centro: center,
tFuente:15px,
borde:10px
);



p {
	background-color: map-get($estilos, color);
	border-radius: map-get($estilos, borde);
	font-size: map-get($estilos, tFuente);
}






